<div class="filter-container">
  <div class="filters">
    <div class="filter">
      <a href="/filter/Trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Rooms">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Domes">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Mountain">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Arctic">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Beach">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Down-town">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Down-town</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Pools">
        <div><i class="fa-solid fa-water-ladder"></i></div>
        <p>Pools</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Lakes">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lakes</p>
      </a>
    </div>
    <div class="filter">
      <a href="/filter/Country-side">
        <div><i class="fa-solid fa-tree-city"></i></div>
        <p>Country-side</p>
      </a>
    </div>
    <div class="tax-switch">
      <div class="form-switch form-check-reverse">
        <input
          class="form-check-input"
          type="checkbox"
          id="taxSwitchCheckReverse"
        />
        <label class="form-check-label" for="taxSwitchCheckReverse"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
</div>
