<style>
  .f-icons a {
    text-decoration: none;
    color: #222222;
  }
</style>
<footer>
  <div class="footer">
    <div class="f-icons">
      <a href="https://www.instagram.com/_tanishq_vats_/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://github.com/tanishq-vats28"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/tanishq-vats-a76715253/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-brand">&copy; Airbnb-Clone Limited</div>
    <div class="f-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
