body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/*navbar*/
.navbar {
  height: 5rem;
  background-color: white;
}
.navbar-brand {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}
.fa-compass {
  color: #fe242f;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.search_inp {
  border-radius: 2rem !important;
  width: 17rem !important;
  text-align: center !important;
}
.btn-search {
  background-color: #fe242f !important;
  color: #fff !important;
  border-radius: 2rem !important;
  padding: 0 1rem !important;
}
.btn-search i {
  margin: 0.25rem;
  display: inline;
}
/*Footer*/
.footer {
  height: 6rem;
  background-color: #e8e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.f-icons i {
  margin-left: 10px;
  font-size: 1.2rem;
}
.f-links a {
  text-decoration: none;
  color: #222222;
  margin-left: 10px;
}
.f-links a:hover {
  text-decoration: underline;
}
/*cards*/
.row a {
  text-decoration: none !important;
}
.show-card {
  border: none !important;
  margin: 2rem;
  margin-top: 20px;
}
.card-title {
  margin-left: 2rem !important;
}
.index-card {
  border: none !important;
  margin: 1rem;
}

.card-img {
  border-radius: 1rem !important;
}
.card-body {
  padding: 0% !important;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/*button*/
.add-btn {
  background-color: #fe242f !important;
  border: none !important;
}
.edit-btn {
  background-color: #fe242f !important;
  border: none !important;
}
.signUp-btn {
  background-color: #fe242f !important;
  border: none !important;
}
.show-btn {
  background-color: #fe242f !important;
  border: none !important;
}
.show-btn-delete {
  background-color: #222222 !important;
  border: none !important;
}
/*show*/
.show-img {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 45vh;
  margin-bottom: 0.5rem;
}
.show-body-div {
  display: flex;
  justify-content: center;
}
.show-body-div button {
  margin: 0 10px;
}
.card-body p {
  margin: 0 !important;
}
/*signUp Form*/
.signUp-form {
  margin-top: 7vh !important;
}
/*filters*/
/* filters */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: max-content;
  justify-content: space-between;
}
.filters::-webkit-scrollbar {
  height: 5px;
}
.filters::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem !important;
}
.filters::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.filter {
  margin-top: 1rem;
  text-align: center;
  margin-right: 1.2rem;
  opacity: 0.6;
}
.filter p {
  font-size: 1rem;
}
.filter a {
  text-decoration: none;
  color: #222222;
}
.filter:hover {
  opacity: 1;
}
.tax-switch {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  height: 3rem;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents text from wrapping */
}
.tax-total {
  display: none;
}

.review-card {
  margin-bottom: 10px;
  width: 80% !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  text-align: center;
  align-items: center;
}

.scrollable-div {
  height: 500px;
  overflow-y: scroll;
  padding: 0 1rem;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
}

.no-reviews {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
}
/*listing*/
.listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listing a {
  text-decoration: none;
}
@media screen and (max-width: 1190px) {
  .listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 990px) {
  .listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .index-card {
    width: 90% !important;
  }
}
@media screen and (max-width: 770px) {
  .review-card {
    margin-bottom: 10px;
    width: 80% !important;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    text-align: center;
    align-items: center;
  }

  .scrollable-div {
    max-height: 250px;
    overflow-y: scroll;
    padding: 0 1rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: none;
    border-radius: 0.5rem;
    margin-top: 1.2rem;
  }
  .no-reviews {
    max-height: 250px;
  }
  .show-img {
    height: 15rem;
  }
  .add-review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  .text-area {
    width: 80% !important;
  }
}
/*navbar collapse*/
.collapse.show {
  background-color: #fff;
  color: #222222;
  font-size: 1rem;
}
.collapse.show .search_inp {
  width: 10rem !important;
}
